# Xcode
*.xcodeproj/
xcuserdata/
DerivedData/
*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/

# Claude
.claude/

# Local xcconfig overrides
Local.xcconfig
